<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Tutoriel Flask: Tests SQL, CSS et formulaire</title>
		<link rel="stylesheet" href="/static/style.css">
	</head>
	<body>
		<div class="menu">
			<span class="bouton"><a href='/'><img src="/static/images/bouton_accueil.png"></a></span>
			<span class="bouton"><a href='/lire'><img src="/static/images/bouton_lecture.png"></a></span>
			<span class="bouton"><a href='/chercher'><img src="/static/images/bouton_recherche.png"></a></span>
			<span class="bouton"><a href='/saisir'><img src="/static/images/bouton_saisie.png"></a></span>
		</div>
		<div class="corps">
			<h1>Présentation</h1>
			<p>Ce micro-site permet de mettre en oeuvre les outils suivants:</p>
			<ul id="u1">
				<li>Utilisation de CSS</li>
				<li>Insertion d'images</li>
				<li>Requête SQL</li>
				<li>Formulaire</li>
				<li>Formulaire générant une requête SQL</li>
			</ul>
			
		</div>
	</body>
</html>
		
